<% content_for :title, "New liste de prix" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New liste de prix</h1>

  <%= render "form", liste_de_prix: @liste_de_prix %>

  <%= link_to "Back to liste de prixes", liste_de_prixes_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
</div>
